<h1><%= @user.username %></h1>
<div class="wrapper">
<div class="ui left aligned selection list">
<h1>Decks</h1>
<% @decks.each do |deck| %>
    <div class="item" style="font-size: 20px;">
    <%= link_to deck.name, deck_path(deck) %><br>
    </div>
<% end %>
</div>

<div class="ui middle aligned selection list">
<h1>Following <%= @followed_num %> Users</h1>
<% @followed_users.each do |f| %>
     <div class="item" style="font-size: 20px;">
    <%= link_to f.username, user_path(f) %><br>
    </div>
<% end %>
</div>

<div class="ui right aligned selection list">
<h1><%= @followers_num %> Followers</h1>
<% @followers.each do |f| %>
     <div class="item" style="font-size: 20px;">
    <%= link_to f.username, user_path(f) %><br>
    </div>
<% end %>
</div>
</div>