<!DOCTYPE html>
<html>
  <head>
    <title>YugiohDeckBuilder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="header">
    <%= link_to "Cards", "/cards"%>
    <% if session[:user_id] %>
      <% user = User.find_by(id: session[:user_id]) %>
      <%= link_to "My Decks", "/decks"%>
      <%= link_to "Other Users", users_path %>
      <%= link_to user.username, user_path(user) %>
      <%= link_to "Log out", '/logout', method: :delete, :class => "right" %>
    <% else%>
      <%= link_to "Log in", login_path, class: "right" %>
    <% end %>
  </div>
  <div class="page">
    <%= yield %>
  </div>
  </body>
</html>
