<!DOCTYPE html>
<html>
  <head>
    <title>YugiohDeckBuilder</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="ui inverted menu header">
    <a class = "active item" <%= link_to "Cards", "/cards"%></a>
    <a class = "active item" <%= link_to "Decks", "/decks"%></a>
    <div class="right menu">
    <% if session[:user_id] %>
      <% user = User.find_by(id: session[:user_id]) %>
      <a class = "item" <%= link_to user.username, user_path(user) %></a>
      <a class = "item" <%= link_to "Log out", '/logout', method: :delete, :class => "right" %></a>
    <% else%>
      <a class = "item"<%= link_to "Log in", login_path, class: "right" %></a>
    <% end %>
    </div>
  </div>
  <div class="page">
    <%= yield %>
  </div>
  </body>
</html>
